.App {
  font-family: sans-serif;
  text-align: center;
}
.table-section {
  display: flex;
  justify-content: center;
}
.table-section thead {
  background-color: red;
}

tbody {
  background-color: rgb(124, 180, 243);
}
